.btn-search{
    position: relative;
    display: inline-block;
}
.btn-search::before{
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    border: 2px solid #000;
    border-radius: 50%;
    z-index: 2;
}
.btn-search::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    border: 1px solid #000;
    z-index: 1;
    position: absolute;
    transform: rotate(-45deg);
    top: 13px;
    left: 14px;
}
.container{
    width: 100%;
}
  