
body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  background: #f0f0f0;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 400;
  padding: 15px;
  line-height: 30px;
  z-index: 9999;
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  background: white;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
header a {
  color: orange;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
}
header a.logo {
  color: orange;
  display: inline-block;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
}

main {
  padding-top: 60px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}


.gnomes {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.gnome {
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 3px 4px rgba(0,0,0,0.15);
}
.gnome .bg {
  display: block;
  padding-bottom: 40%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.gnome .info {
  display: block;
  padding: 20px;
  background: orange;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.gnome h2 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin: 0;
}


.Gnome .hero {
  display: block;
  height: 30vh;
  background-size: cover;
  background-position: 50% 50%;
}
.Gnome .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: orange;
  color: #fff;
  padding: 20px;
}
.Gnome .title .info {
  flex: 1 1 auto;
}
.Gnome .title h1 {
  margin: 0;
}
.Gnome .title p {
  margin: 0;
}
.Gnome a.share {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}



.Gnome .professions {
  padding: 20px;
}
.Gnome .professions li {
  line-height: 140%;
}


.Gnome .friends {
  padding: 20px;
}
.Gnome .step {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.Gnome .step .number {
  font-size: 32px;
  flex: 0 1 1.3em;
}
.Gnome .step .text {
  flex: 1 0;
  font-size: 16px;
  line-height: 140%;
}
.message {
  padding: 100px 30px;
  text-align: center;
  font-size: 1.2em;
}